!!! 5
html
  head
    title Test
    link(rel='stylesheet',href='styles.css',type='text/css')
    script(type='text/javascript',src='/jquery.js')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='/scr.js')
  body
    header
    section
      //
        div.cl#div1 Hello, World!
        h4 &Uacute;ltimas 10 visitas:
        ol
          each d in acc
            li= d
        div Bye, World! */
      #container
        br
        span Chat:
        #chatWrapper
          #chat
        form#frmChat(name='chat')
          //- if(!nname)
          label(for='nname') Choose your user name:
          input#nname(type='text',name='nname',value=(nname ? uname :''), readonly=(nname ? 'readonly': false))
          input#setname(type='button',name='setname',value='Set')
          br
          label(for='msg') Message:
          input#msg(type='text',name='msg',disabled=!nname)
          input#send(type='submit',value='Send',disabled=!nname)
    footer