@CHARSET "ISO-8859-1";

body
{
	/*background: #060;*/
}

.card
{
	display: block;
	width: 45px;
  height: 48px;
  overflow: hidden;
  border-radius: 5px;
	background: white;
	padding: 6px 0;
}

.card div
{
	width: 35px;
	margin: 0 auto;
	overflow: hidden;
}

.card div p
{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: monospace;
  text-align: center;
  line-height: 12px;
  vertical-align: middle;
}

.h, .d
{
	color: #A00;
}

.s, .c
{
  color: #000;
}

#chat
{
	height: auto;
	overflow: hidden;
	
}

#chatWrapper
{
	border: 1px #000 solid;
	border-radius: 5px;
	width: 400px;
	height: 500px;
	overflow: auto;
}

#chat p
{
	display: block;
	clear: both;
	overflow: hidden;
	font-size: 14px;
	margin: 5px auto;
}

#chat p span.name
{
	color: #006;
	font-weight: bold;
}

#chat p span.text
{
  color: #000;
}